.leading-8 {
    line-height: 2rem;
}

.rounded-4xl {
    border-radius: 2rem; /* 24px */
}

.rounded-5xl {
    border-radius: 2.5rem; /* 24px */
}

.rounded-6xl {
    border-radius: 3rem; /* 24px */
}

.rounded-7xl {
    border-radius: 3.5rem; /* 24px */
}

.rounded-8xl {
    border-radius: 3.5rem; /* 24px */
}

.scale-102:hover {
    transform: scale(1.02);
}


/**
Scrollbar
 */

.scrollbar {
    height: 300px;
    width: 50%;
    overflow: auto;
    padding: 0 10px;
}

/*       ScrollBar 1        */

body::-webkit-scrollbar {
    width: 9px;
}

body::-webkit-scrollbar-track {
    border-radius: 58px;
    height: 18px;
    background-color: rgba(252, 250, 250, 0.85);
}

body::-webkit-scrollbar-thumb {
    border-radius: 118px;
    height: 18px;
    background-color: rgba(59, 63, 72, 0.85);
}
@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}

.animate-ping {
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.8; }
    100% { transform: scale(1); opacity: 1; }
}

.attention-grab {
    animation: pulse 2s ease-in-out infinite;
}